/* .albumPic{
    width: 136px;
    height: 136px;
}

.albumPic>img{
    max-width: 100%;
    max-height: 100%;
}

.albumPic > div {
    margin-left: 16px;
}

.albumInfoContainer{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    padding-top: 5px;
    width: 180px;
}

.albumInfoContainer .albumName{
    font-size: 32px;
    font-weight: 700;
    letter-spacing:-1.28px;
    display: flex;
    align-items: center;
    height: 36px;

}

.albumInfo{
    margin-top: 8px;
    max-height: 16px;
    width: 100%;
}

.albumInfoContainer .albumInfo  span {
    font-size: 14px;
    font-weight: 400;
    color: #b3b3b3;
    line-height: 16px;
}
.buttons button:nth-child(1){
    background-color: white;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50px;
    fill: black;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.buttons button:nth-child(2){
    background-color: #121212;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50px;
    fill: #b3b3b3;
    display: flex;
    justify-content: center;
    align-items: center;

    
}
.buttons button:nth-child(3){
    background-color: #121212;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50px;
    fill: #b3b3b3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -4px;

    
}
.buttons {
    margin-top: 43px;
    display: flex;
    gap: 12px
} */