.discography{
    grid-area: discography;
    max-width: 100%;
    max-height: 100%;
    background-color: #121212;
    overflow-y: scroll;   

}

.songsInfoHeader{
    display: grid;
    grid-template-columns: 32px 1fr 80px;
    grid-template-rows: 36px;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 10px;

}
.songsInfoHeader > div:nth-child(1){
    color: #b3b3b3;
    font-size: 16px;
    padding-left: 21px;
    width: 20px;
}
.songsInfoHeader > div:nth-child(2){
    color: #b3b3b3;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.2px;

}
.songsInfoHeader > div:nth-child(3){
    padding-left: 16px;
    padding-top: 2px;
    fill: #b3b3b3;
}

.songsContainer{
    display: grid;
    grid-template-columns: 32px 1fr 80px;
    grid-template-rows: 56px;
    gap: 16px;
    margin: 0px 32px;
    align-items: center;
}

.songNumber{
    color: #b3b3b3;
    font-size: 16px;
    margin-left: 22px;
    margin-top: 33px;
}
.songName{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 16px;
    margin-top: 36px;

} 

.songName > span:nth-child(2){
 color: #b3b3b3;
 font-size: 14px;    
 padding-top: 6px;

}
.songDuration {
    font-size: 14px;
    color: #A7A7A7;
    margin-top: 32px;
    letter-spacing: 1.2px;
    line-height: 16px
}
